<ion-view hide-nav-bar="true">
    <div ng-hide="isMobile" class="bar bar-header bar-light">
        <h1 class="title">Graphs</h1>
    </div>
    <ion-content ng-class="{'avoid-header': !isMobile}">
        <div class="card padding">
            <div class="item item-text-wrap pro-section">
                Graphs for Euler Angle Sets, Euler Parameters, and Angular Velocities are available in Pro Version. For
                more information click on link below.
                <br>
                <button id="pro-button"
                        class="button button-outline button-positive button-icon icon icon-right ion-link padding-horizontal margin-top"
                        ng-click="openUrl()">
                    Pro Version
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
